{% extends 'layout.html' %}

{% block content %}
<div class="container-xl">
    <h1 class="app-page-title mb-4">{{ title }}</h1>
    <form class="auth-form add-candidate-form" method="post" action="{{ url_for('main.add_question') }}">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {{ form.hidden_tag() }}         
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="kode_fitur" class="form-label">Kode Fitur</label>
                    {{ form.fitur(class_='form-select') }}
                </div><!--//form-group-->
            </div><!--//col-md-6-->
        
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="kode" class="form-label">Pertanyaan</label>
                    {{ form.pertanyaan(class_='form-control', id='pertanyaan') }}
                </div><!--//form-group-->
            </div><!--//col-md-6-->
        </div><!--//row-->

            <div class="text-center">
                {{ form.submit(class_='btn app-btn-primary w-100 theme-btn mx-auto') }}
            </div><!--//text-center-->
        </div>
    </form>
</div><!--//container-fluid-->
<style>
    textarea#pertanyaan {
    min-height: 100px; /* Tinggi minimal textarea */
    height: auto; /* Mengisi tinggi sesuai dengan konten */
    resize: vertical; /* Memastikan textarea hanya bisa diresize secara vertikal */
    padding: 10px; /* Padding untuk meningkatkan kenyamanan pengguna */
    font-size: 14px; /* Ukuran font */
    line-height: 1.5; /* Jarak antar baris */
}
</style>
{% endblock %}
