{% extends 'layout.html' %}

{% block content %}
<div class="container-xl">
			    
    <div class="row g-3 mb-4 align-items-center justify-content-between">
        <div class="col-auto">
            <h1 class="app-page-title mb-0">List Pertanyaan</h1>
        </div>
        <div class="col-auto">
             <div class="page-utilities">
                <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                    <div class="col-auto">
                        <form class="table-search-form row gx-1 align-items-center">
                            <div class="col-auto">
                                <input type="text" id="search-orders" name="searchorders" class="form-control search-orders" placeholder="Search">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn app-btn-secondary">Search</button>
                            </div>
                        </form>
                        
                    </div><!--//col-->
                    <div class="col-auto">						    
                        <a class="btn app-btn-secondary" href="{{ url_for('main.add_question')}}">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus me-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v6.5h6.5a.5.5 0 0 1 0 1H8.5v6.5a.5.5 0 0 1-1 0V9H1a.5.5 0 0 1 0-1h6.5V1.5A.5.5 0 0 1 8 1z"/>
                              </svg>                              
                            Tambah Pertanyaan
                        </a>
                    </div>
                </div><!--//row-->
            </div><!--//table-utilities-->
        </div><!--//col-auto-->
    </div><!--//row-->    
    
    <div class="tab-content" id="orders-table-tab-content">
        <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
            <div class="app-card app-card-orders-table shadow-sm mb-5">
                <div class="app-card-body">
                    <div class="table-responsive">
                        <table class="table app-table-hover mb-0 text-left">
                            <thead>
                                <tr>
                                    <th class="cell">No.</th>
                                    <th class="cell">Kode Fitur</th>
                                    <th class="cell">Pertanyaan</th>
                                    <th class="cell"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for question in question %}
                                <tr>
                                    <td>{{ (page - 1) * per_page + loop.index }}</td>
                                    <td>{{ question[2] }}</td>
                                    <td style="max-width: 450px; overflow: hidden; text-overflow: ellipsis; text-align: justify;">{{ question[1] }}</td>
                                    <td class="cell" style="text-align: center;">
                                        <a class="btn-sm app-btn-secondary" href="#">View</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div><!--//table-responsive-->
                   
                </div><!--//app-card-body-->		
            </div><!--//app-card-->
            <nav class="app-pagination">
                <div class="d-flex justify-content-between align-items-center">
                    <!-- Pagination -->
                    <ul class="pagination">
                        {% if page > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page - 1 }}&per_page={{ per_page }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">&laquo;</span>
                        </li>
                        {% endif %}
            
                        {% for num in range(1, total_pages + 1) %}
                        <li class="page-item {% if num == page %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}&per_page={{ per_page }}">{{ num }}</a>
                        </li>
                        {% endfor %}
            
                        {% if page < total_pages %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page + 1 }}&per_page={{ per_page }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">&raquo;</span>
                        </li>
                        {% endif %}
                    </ul>
            
                    <!-- Formulir "Tampilkan per halaman" -->
                    <form action="" method="get" class="form-inline mb-3">
                        <label for="per_page" class="mr-2">Tampilkan per halaman:</label>
                        <select name="per_page" id="per_page" class="custom-select" onchange="this.form.submit()">
                            <option value="5" {% if per_page == 5 %}selected{% endif %}>5</option>
                            <option value="10" {% if per_page == 10 %}selected{% endif %}>10</option>
                            <option value="20" {% if per_page == 20 %}selected{% endif %}>20</option>
                            <option value="50" {% if per_page == 50 %}selected{% endif %}>50</option>
                        </select>
                    </form>
                </div>
            </nav>
                
        </div><!--//tab-pane-->

    </div><!--//tab-content-->
</div><!--//container-fluid-->
{% endblock %}